.back-ground-field{
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bg-darkviolet{
  background-color: darkviolet;
}

.bg-white{
  background-color: white;
}

.bg-darkblue{
  background-color: darkblue;
}

.content-field{
  height: 13rem;
  width: 22rem;
}

.main-field{
  height: 39rem;
  width: 80rem;
}

.title-container{
  height: 4em;
  width: 100%;
}

.input-name-container{
  height: 4em;
  width: 100%;
}

.btns-container{
  height: 5em;
  width: 100%;
}

.click-container{
  height: 39em;
  width: 40%;
}

.burgers-info-container{
  height: 10%;
  width: 100%;
}

.title-field{
  height: 60%;
}

.input-name-field{
  height: 100%;
}

.btns-field{
  height: 100%;
}

.click-field{
  height: 96%;
  width: 96%;
}

.burgers-info-field{
  height: 85%;
  width: 98%;
}


.input-name{
  height: 50%;
  width: 100%;
}

.login-window-btns{
  height: 50%;
  width: 7rem;
}
