body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}

.back-ground-field{
  height: 100vh;
  width: 100vw;
  }

.bg-darkviolet{
  background-color: darkviolet;
}

.bg-white{
  background-color: white;
}

.bg-darkblue{
  background-color: darkblue;
}

.height-half{
  height: 50%;
}

.heigh-width-half{
  height: 50%;
  width: 50%;
}

.full-size{
  height: 100%;
  width: 100%;
}

.full-width{
  width: 100%;
}

.content-field{
  height: 13rem;
  width: 22rem;
}

.main-field{
  height: 90%;
  width: 80rem;
}

.title-container{
  height: 4em;
  width: 100%;
}

.input-name-container{
  height: 4em;
  width: 100%;
}

.btns-container{
  height: 5em;
  width: 100%;
}

.click-container{
  height:99%;
  width: 40%;
}

.menu-container{
  height: 99%;
  width: 60%;
}

.burgers-info-container{
  height: 5rem;
  width: 100%;
}

.burgers-btn-container{
  height: 26rem;
  width: 100%;
}

.user-info-container{
  height: 10rem;
  width: 100%;
}

.select-invest-container{
  height: 70%;
  width: 100%;
}

.forth-container{
  height: 50%;
}

.invest-container{
  width: 95%;
}

.title-field{
  height: 60%;
}

.input-name-field{
  height: 100%;
}

.btns-field{
  height: 100%;
}

.click-field{
  height: 96%;
  width: 96%;
}

.burgers-info-field{
  height: 4rem;
  width: 98%;
}

.burgers-btn-field{
  height: 20rem;
  width: 100%;
}

.forth-field{
  height: 3rem;
  width: 90%;
}

.user-info-field{
  height: 7rem;
  width: 90%;
}

.invest-and-btns-field{
  height: 95%;
  width: 95%;
}

.invest-field{
  height: 80%;
  width: 90%;
}

.save-and-reset-btns-container{
  height: 17%;
  width: 90%;
}

.save-and-field-bnts-field{
  height: 100%;
  width: 40%;
}

.over-flow{
  overflow: scroll;
}

.over-flow-hidden{
  overflow: hidden;
}

.invest{
  height: 30%;
}

.invest-info-container{
  height: 60%;
  width: 100%;
}

.input-buy-container{
  height: 25%;
  width: 100%;
}

.action-btns-container{
  height: 15%;
  width: 100%;
}

.invest-info{
  height: 70%;
}

.invest-img{
  height: 70%;
}

.input-name{
  height: 50%;
  width: 100%;
}

.login-window-btns{
  height: 50%;
  width: 7rem;
}

.save-refresh-btn{
  height: 20%;
  width: 30%;
}

.img-fluid{
  height: 100%;
  width: 40%;
}

.img-detail{
  height: 10rem;
  width: 50%;
}

.money-effect-container{
  height: 10%;
  width: 100%;
}

.money-effect-field{
  height: 100%;
  width: 50%;
}

.money{
  color: gold;
  font-size: 60px;
}

.setting-btns{
  height: 90%;
  width: 30%;
}

.btn-icon-size{
  font-size: 20px;
}

.btns-action{
  height: 100%;
  width: 100%;
}
